<!DOCTYPE html>
<html>

<head profile="http://www.w3.org/2005/10/profile">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/connect/res/img/icon.png">
    <link rel="icon" type="image/png" href="/connect/res/img/icon.png">
    

    <title>Connect - Terms and Conditions</title>

	<!-- CSS -->
	<link href="/connect/res/css/bootstrap.css" rel="stylesheet">
	<link href="/connect/res/css/lobibox.css" rel="stylesheet">
	<link href="/connect/res/css/login.css" rel="stylesheet">
	<link href="/connect/res/css/font-awesome.css" rel="stylesheet">
	<link href="/connect/res/css/custom-fonts.css" rel="stylesheet">
	<link href="/connect/res/css/bootstrap-dialog.css" rel="stylesheet">
	<link href="/connect/res/css/bootstrap-select.css" rel="stylesheet">
	<link href="/connect/res/css/bootstrap-toggle.css" rel="stylesheet">
	<link href="/connect/res/css/bootstrap-datepicker.css" rel="stylesheet">
	<link href="/connect/res/css/jquery.dataTables.css" rel="stylesheet">
	<link href="/connect/res/css/dataTables.bootstrap.css" rel="stylesheet">
	<link href="/connect/res/css/scroller.dataTables.min.css" rel="stylesheet">
	<link href="/connect/res/css/scroller.bootstrap.css" rel="stylesheet">
	<link href="/connect/res/css/dataTables-custom.css" rel="stylesheet">
	<link href="/connect/res/css/bootstrap-custom.css" rel="stylesheet">
	<link href="/connect/res/css/bootstrap-wizard.css" rel="stylesheet">
	<link href="/connect/res/css/bootstrap-tagsinput.css" rel="stylesheet">
	<link href="/connect/res/css/codemirror.css" rel="stylesheet">
	<link href="/connect/res/css/template-default.css" rel="stylesheet">
	<link href="/connect/res/css/validate.css" rel="stylesheet">
	<link href="/connect/res/css/base.css" rel="stylesheet">
	<link href="/connect/res/css/wipo.css" rel="stylesheet">
	<link href="/css/external.css" rel="stylesheet">
</head>

<body>

<!-- JAVASCRIPT -->
	<script src="/connect/res/js/jquery.js"></script>
	<script src="/connect/res/js/jquery.blockUI.js"></script>
	<script src="/connect/res/js/bootstrap.js"></script>
	<script src="/connect/res/js/bootstrap.dialog.js"></script>
	<script src="/connect/res/js/bootstrap.select.js"></script>
	<script src="/connect/res/js/bootstrap-toggle.js"></script>
	<script src="/connect/res/js/bootstrap.datepicker.js"></script>
	<script src="/connect/res/js/string.utils.js"></script>
	<script src="/connect/res/js/moment.js"></script>
	<script src="/connect/res/js/jquery.form.js"></script>
	<script src="/connect/res/js/jquery.validate.js"></script>
	<script src="/connect/res/js/jquery.validate.additional-methods.js"></script>
	<script src="/connect/res/js/jquery.validate.custom.js"></script>
	<script src="/connect/res/js/jquery.dataTables.js"></script>
	<script src="/connect/res/js/jquery.dataTables.custom.js"></script>
	<script src="/connect/res/js/dataTables.bootstrap.js"></script>
	<script src="/connect/res/js/jquery.serializeObject.js"></script>
	<script src="/connect/res/js/dataTables.renders.js"></script>
	<script src="/connect/res/js/dataTables.scroller.js"></script>
	<script src="/connect/res/js/codemirror.js"></script>
	<script src="/connect/res/js/codemirror.mode.groovy.js"></script>
	<script src="/connect/res/js/codemirror.mode.javascript.js"></script>
	<script src="/connect/res/js/codemirror.addon.edit.closebrackets.js"></script>
	<script src="/connect/res/js/codemirror.addon.edit.matchbrackets.js"></script>
	<script src="/connect/res/js/jquery.blockEdit.js"></script>
	<script src="/connect/res/js/jquery.collapsible-panel.js"></script>
	<script src="/connect/res/js/js.cookie.js"></script>
	<script src="/connect/res/js/lobibox.notifications.js"></script>
	<script src="/connect/res/js/formulaUtils.js"></script>
	<script src="/connect/res/js/jquery.fileDownload.js"></script>
	<script src="/connect/res/js/autoNumeric-min.js"></script>
	<script src="/connect/res/js/bootstrap-tagsinput.js"></script>
	<script src="/connect/res/js/jquery.actual.custom.js"></script>
	<script src="/connect/res/js/jquery.hotkeys.js"></script>
	<script src="/connect/res/js/jquery.scrollTo.js"></script>
	<script src="/connect/res/js/fileSaver.js"></script>
	<script src="/connect/res/js/jspdf.js"></script>
	<script src="/connect/res/js/jquery.mask.js"></script>
	<script src="/connect/res/js/html2canvas.js"></script>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-first-row">
		<div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse,#user-info-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            
            	
            	
				
	            <p class="navbar-text brand">
		            <a href="/connect/mvc/common/home">
			            <img alt="wipo-wcc" class="logo-brand" src="/connect/res/img/shuffle.png">
			        </a>
	            	<a href="/connect/mvc/common/home"><span style="overflow: hidden;height: 201px;position: absolute;top: -81px;left: -165px;"><img src="/img/wipo.svg" style="height: 363px;opacity: 0.1;-ms-transform: rotate(-15deg); -webkit-transform: rotate(-15deg);transform: rotate(-15deg);"></span>WIPO Connect</a>
	            </p>
	            <div class="clear"></div>
	        </div>
			
			   
	        		

	
		    </div>
    </div>
	


	
	<div class="navbar-second-row">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<p class="navbar-text page-info">Terms and Conditions</p>
	        	
	        </div>
		</div>
	</div>
	
	

	
</nav>
 
				
	<div class="container">
	
		<div class="main-body content-body body-1466331301558">
		
		 
		
			<div class="containerLogOut">
	
	<div class="collapse navbar-collapse"> <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" > <div class="collapse navbar-collapse" >
				
			<h1>Terms and Conditions for the use of WIPO Connect</h1>

<h3><b>I.&nbsp; Definitions - In the context of these Terms and Conditions</b></h3>

<p>&ldquo;The Software&rdquo; shall mean the software owned and provided by WIPO to enhance Collective Management Organizations (CMO) business services. The Software may include WIPO Connect Local and WIPO Connect Shared. These <a href="http://www.wipo.int/global_ip/en/activities/technicalassistance/" target="_self">software products</a> are described in detail on the WIPO web site.</p>

<h3><b>II. Grant of Rights</b></h3>
<p>WIPO grants the CMO the right to use the Software for Collective Management service delivery under the conditions described herein and within the framework of the &ldquo;fair use&rdquo; policy outlined in section VII. The intended purpose of this right is to meet demands from CMO to support efficient and effective business services. Unless otherwise provided for in these Terms and Conditions, the CMO shall have a worldwide, non-sublicense, non-transferable and non-exclusive right to use the Software as stated below;</p>
<ol>
    <li>The CMO may use the original version of the Software in its own applications;</li>
    <li>Any components or modules developed by the CMO and linked into the Software shall not be considered part of the Software and will not be subject to these Terms and Conditions.</li>
    <li>The CMO may have its operation of the Software carried out through a subcontractor. The subcontractor, however, shall obtain no rights whatsoever to the Software.</li>
</ol>
<p>Any use other than the above-mentioned uses shall be subject to prior written agreement on the terms and conditions.  In particular, the CMO may not redistribute the software or any derived products to third parties without prior written agreement between WIPO and the CMO.</p>

<h3><b>III. Source Code</b></h3>
<p>The source code for the core WIPO-supplied Software shall not be modified by the CMO.</p>
<p>However, WIPO shall transfer all source code and related documentation to the CMO and the CMO will take over responsibility for software changes, if one of the following occurs:</p>
<ol>
    <li>the Director General of WIPO notifies the CMO that the WIPO Secretariat intends to discontinue its support to the CMO for the Software, including support for improvements and fixes;  or</li>
    <li>the program for the provision of the Software is discontinued by a decision of the WIPO Member States.</li>
</ol>
<p>The transfer of the source code shall not affect the terms and conditions related to the ownership, distribution rights and other terms of use of the software documented in these Terms and Conditions.</p>
<p>To this end, WIPO shall maintain a library of all source code that is updated with all latest versions and that can be easily made available if necessary.  If required, a CMO may request written confirmation that the source code library will be made available to them if the conditions of this provision are met.</p>

<h3><b>IV. Modification</b></h3>
<p>Subject to prior consent of WIPO, the CMO may use the Software to create its own application systems or modules, provided that the CMO meet the following conditions and inserts a prominent notice stating how, when and whether the CMO changed the software:</p>
<ol>
    <li>The copyright notice and disclaimer on the Software must be reproduced and included in the source code, documentation, and/or other materials provided in a manner in which such notices are normally distributed.</li>
    <li>The derivative work must be clearly identified as such, in order that it may not be confused with the original Software.</li>
</ol>
<p>WIPO will not be liable, in any respect, for any such modifications or any errors, losses or damage resulting from such modifications.</p>
<p>For the purposes of these terms and conditions, the modifications are understood to mean the development of new systems, functionality and/or modules to meet the specific requirements of the CMO, by building on the software provided by WIPO.  As provided in section III above, the source code of the core system will not be modified, but the office may develop its own software that supplements or replaces the functionality of the core system.  For example, the CMO may create its own software to support reception, data capture, trademark search, or other functionality.</p>

<h3><b>V. Third Party Licences</b></h3>
<p>The CMO shall be responsible for all third-party software licenses required to operate the Software, including but not limited to operating systems, database management systems, and office productivity software.</p>

<h3><b>VI. Fair Use</b></h3>
<p>Nothing in these Terms and Conditions is intended to reduce, limit, or restrict any rights arising from fair use, fair dealing, other limitations on the exclusive rights of the copyright owner under copyright law or other applicable laws.</p>

<h3><b>VII. Ownership</b></h3>
<p>Ownership and title in the original and modified Software are and shall at all times remain with WIPO.  The CMO shall not acquire directly, indirectly or by implication any title, copyright or ownership in the Software or any parts thereof.  This Article will not apply to the components and modules developed by the CMO and linked to the Software.</p>

<h3><b>VIII. Responsibility</b></h3>
<p>Responsibility for the successful deployment and use of the Software remains with the CMO.  WIPO is responsible for the training of the CMO staff to enable them to manage, operate, and benefit from the Software, upon the CMO&rsquo;s request.  The CMO will receive technical assistance and/or general consultation with regard to the deployment, customization and effective use of the Software.  WIPO will take all reasonable steps to transfer the technical knowledge embedded in the Software that can be directly attributable to best performance of the system.  As they become available, WIPO will provide new versions, updates and/or enhancements to current versions of the Software.  
However, WIPO bears no responsibilities with respect to the maintenance and support of the Software for the purpose of office use after a reasonable time period.  The CMO shall be responsible for maintenance and support of the systems derived from the Software.  Equipment and software compatibility shall be the CMO&rsquo;s sole responsibility.</p>

<h3><b>IX. Intellectual Property Rights</b></h3>
<p>The CMO acknowledges and recognizes the ownership, title and other rights of WIPO in and to any and all copyright and other intellectual and industrial property rights (&ldquo;Rights&rdquo;) in relation to the Software, and all such Rights shall at all times be and remain the sole property of WIPO. The CMO shall not do or permit to be done any act that is or is likely to constitute an infringement of the Rights, or will likely jeopardize or offend the ownership, right and title of WIPO in and to the Rights. Notwithstanding anything to the contrary, WIPO does not make any warranty, express or implied, that the Software, or any part thereof, does not affect or violate any patent, trademark, copyright, trade secret, or other proprietary right of any third party.</p>

<h3><b>X. Liability and Force Majeure</b></h3>
<p>WIPO shall not be liable for any indirect, incidental, consequential, liquidated, special, punitive or exemplary damages or penalties to the CMO, including, but not limited to, losses of business, revenue or profits, as a consequence of using any of the modules in the Software.  WIPO shall not be liable or deemed to be in default for any delays or failure in performance or interruption of service resulting directly or indirectly from any cause or circumstance beyond its reasonable control.</p>

<h3><b>XI. Acknowledgment and Disclaimers</b></h3>
<p>The CMO shall identify WIPO as the source of the Software.  However, any such identification shall include the following (first) disclaimer: &ldquo;The Software herein is provided by the World Intellectual Property Organization (WIPO) on an &ldquo;as-is, where-is&rdquo; basis, and WIPO does not represent, warrant, or otherwise guarantee, expressly or impliedly, the merchantability, fitness for a particular purpose, suitability, integrity, accuracy, reliability, or completeness of the said software or any information disclosed or described or contained in the said software.  
WIPO expressly disclaims liability for any loss, damage, or injury directly or indirectly suffered or incurred as a result of or related to anyone using or relying on the said software or any information disclosed or described or contained in the said software.&rdquo;</p>

<h3><b>XII. Use of Logo</b></h3>
<p>The CMO shall not have the right to use any WIPO logo(s) or trademark(s) unless specifically authorized by WIPO in writing and shall be subject to such conditions of use as may be agreed by the CMO and WIPO.</p>

<h3><b>XIII. Revisions</b></h3>
<p>WIPO reserves the right to revise these Terms and Conditions at any time.  Any revised Terms and Conditions will be posted on WIPO&rsquo;s website.  Revisions shall take effect immediately following posting of the new Terms and Conditions.</p>

<h3><b>XIV. Final Agreement (where applicable)</b></h3>
<p>These Terms and Conditions (and any revisions) constitutes the entire understanding between WIPO and the CMO regarding the use of the Software.</p>

		</div>
		
		</div>
    </div>


</body>

</html>
