<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wipo.connect.shared.persistence.mapping.InterestedPartyStatusFlatMapper">

	<resultMap id="resMap" type="InterestedPartyStatusFlat">
		<id property="idInterestedPartyStatus" column="IPFM_id_ip_status" />
		<result property="code" column="IPFM_code" />
		<result property="value" column="IPFM_default_value" />
	</resultMap>

	<sql id="fields">
		interested_party_status.id_interested_party_status AS IPFM_id_ip_status,
		interested_party_status.code AS IPFM_code,
        translation.default_value AS IPFM_default_value
	</sql>

	<sql id="baseSelect">
		SELECT
			<include refid="fields" />
		FROM interested_party_status
       		INNER JOIN translation ON translation.id_translation = interested_party_status.fk_value
	</sql>

	<select id="selectByPrimaryKey" resultMap="resMap">
		<include refid="baseSelect" />
		WHERE interested_party_status.id_interested_party_status = #{idInterestedPartyStatus}
	</select>

	<select id="findAll" resultMap="resMap">
		<include refid="baseSelect" />
		ORDER BY translation.default_value
	</select>

</mapper>