<!-- <?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


 <mapper namespace="org.wipo.connect.shared.persistence.mapping.RightSplitMapper">
	<resultMap id="resMap" type="RightSplit">
		<id property="idRightSplit" column="RS_id_right_split" />
		<result property="fkIpiRightType" column="RS_fk_ipi_right_type" />
		<result property="percentage" column="RS_percentage" />
		<result property="fkRightType" column="RS_fk_right_type" />
	</resultMap>

	<resultMap id="AffiliationRightSplitResMap" type="AffiliationRightSplit">
		<id property="idAffiliationRightSplit" column="ID_ARS" />
		<result property="fkAffiliation" column="FK_AFF" />
		<association property="cmo" resultMap="org.wipo.connect.shared.persistence.mapping.CmoMapper.resMap" />
		<association property="ipiRightTypeFlat" resultMap="org.wipo.connect.shared.persistence.mapping.IpiRightTypeFlatMapper.resMap" />
		<association property="rightTypeFlat" resultMap="org.wipo.connect.shared.persistence.mapping.RightTypeFlatMapper.resMap" />
	</resultMap>


	<sql id="fields">
		right_split.id_right_split,
		right_split.fk_ipi_right_type,
		right_split.percentage,
		right_split.fk_right_type
	</sql>

	<insert id="insertRightSplit" useGeneratedKeys="true" keyProperty="idRightSplit"  keyColumn="id_right_split">
		INSERT INTO 	right_split
						(fk_ipi_right_type, percentage, fk_right_type )
		VALUES
						(#{fkIpiRightType}, #{percentage}, #{fkRightType})
	</insert>

	<delete id="deleteRightSplit" >
		DELETE FROM 	right_split
		WHERE 			id_right_split = #{idRightSplit}
	</delete>

	<update id="updateByPrimaryKey" keyProperty="idAgreement">
		UPDATE right_split
	   	SET
	   		fk_ipi_right_type = #{fkIpiRightType},
	   		percentage = #{percentage},
	   		fk_right_type = #{fkRightType}
	 	WHERE
			right_split.id_right_split = #{idAgreement}
	</update>
	
	
	<select id="findIpiRightTypeByRightType" resultMap="org.wipo.connect.shared.persistence.mapping.IpiRightTypeFlatMapper.resMap">
		SELECT
		<include refid="org.wipo.connect.shared.persistence.mapping.IpiRightTypeFlatMapper.fields" />

		FROM right_split
		LEFT OUTER JOIN ipi_right_type ON right_split.fk_ipi_right_type = ipi_right_type.id_ipi_right_type
		LEFT OUTER JOIN ipi_right_type_class ON ipi_right_type_class.fk_ipi_right_type = ipi_right_type.id_ipi_right_type
		LEFT OUTER JOIN translation tr_name ON tr_name.id_translation = ipi_right_type.fk_name
		LEFT OUTER JOIN translation tr_desc ON tr_desc.id_translation = ipi_right_type.fk_description
		LEFT OUTER JOIN translation tr_exam ON tr_exam.id_translation = ipi_right_type.fk_examples

		WHERE right_split.fk_right_type = #{fkRightType}
		AND right_association_enabled = 1
	</select>

</mapper> -->