<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wipo.connect.shared.persistence.mapping.TerritoryNameMapper">

	<sql id="fields">
		territory_name.id_territory_name 		AS TN_id_territory_name,
		territory_name.start_date				AS TN_start_date,
		territory_name.end_date					AS TN_end_date,
		territory_name.fk_territory				AS TN_fk_territory,
		territory_name.fk_name 					AS TN_fk_name,
		territory_name.fk_official_name 		AS TN_fk_official_name,
		territory_name.fk_abbreviated_name 		AS TN_fk_abbreviated_name,
		territory_name.fk_unofficial_name 		AS TN_fk_unofficial_name,
		tni.value 								AS TN_code_tisa,
		
		t1.default_value 						AS TRASL_name,
		t2.default_value 						AS TRASL_official_name,
		t3.default_value 						AS TRASL_abbreviated_name,
		t4.default_value 						AS TRASL_unofficial_name
	</sql>


	<resultMap id="resMap" type="TerritoryName">
		<id property="idTerritoryName" 				column="TN_id_territory_name" />
		<result property="startDate" 				column="TN_start_date" />
		<result property="endDate" 					column="TN_end_date"/>
		<result property="fkTerritory" 				column="TN_fk_territory"/>
		<result property="fkName" 					column="TN_fk_name" />
		<result property="fkOfficialName" 			column="TN_fk_official_name" />
		<result property="fkAbbreviatedName" 		column="TN_fk_abbreviated_name" />
		<result property="fkUnofficialName" 		column="TN_fk_unofficial_name" />
		<result property="tisa" 					column="TN_code_tisa" />
		<result property="name" 					column="TRASL_name" />
		<result property="officialName" 			column="TRASL_official_name" />
		<result property="abbreviatedName" 			column="TRASL_abbreviated_name" />
		<result property="unofficialName" 			column="TRASL_unofficial_name" />
	</resultMap>

	<sql id="baseSelect">
		SELECT
			<include refid="fields" />
		FROM territory_name
		LEFT OUTER JOIN territory_name_identifier tni ON (tni.fk_territory_name = territory_name.id_territory_name)
		LEFT OUTER JOIN translation t1 ON (t1.id_translation = territory_name.fk_name)
		LEFT OUTER JOIN translation t2 ON (t2.id_translation = territory_name.fk_official_name)
		LEFT OUTER JOIN translation t3 ON (t3.id_translation = territory_name.fk_abbreviated_name)
		LEFT OUTER JOIN translation t4 ON (t4.id_translation = territory_name.fk_unofficial_name)
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="idTerritoryName"    keyColumn="id_territory_name">	
		INSERT INTO territory_name(
			fk_territory,
			fk_name,
			start_date,
			end_date
		) VALUES (
			#{fkTerritory},
			#{fkName},
			#{startDate},
			#{endDate}
		)
		
	</insert>
	
	<update id="updateByPrimaryKey" keyProperty="idTerritoryName">
		UPDATE territory_name
		SET 
			fk_name					= #{fkName},
			start_date 				= #{startDate},
			end_date				= #{endDate}
		WHERE 
			id_territory_name 	= #{idTerritoryName}
	</update>
	
	
	<select id="exsistTisaCode" resultType="boolean" parameterType="map">
		SELECT  COUNT(id_territory_name_identifier) AS result 
		FROM  territory_name_identifier 
		WHERE value = #{code}
			<if test="idToExclude != null">
				AND territory_name_identifier.fk_territory_name != #{idToExclude}
			</if>
	</select>

	<select id="findAll" resultMap="resMap">
		<include refid="baseSelect" />

		WHERE ((territory_name.start_date IS NULL OR territory_name.start_date &lt;= now())
		        AND
		        (territory_name.end_date IS NULL OR territory_name.end_date &gt;= now()))

		ORDER BY TN_code_tisa
	</select>

	<select id="selectByPrimaryKey" resultMap="resMap">
		<include refid="baseSelect" />
		WHERE
			territory_name.id_territory_name = #{id}
	</select>
	
	<select id="findTerritoryNamesByCode" resultMap="resMap">
		<include refid="baseSelect" />
		LEFT OUTER JOIN territory ON (territory.id_territory = territory_name.fk_territory)
    	WHERE territory.code = #{code}
		ORDER BY TN_code_tisa
	</select>

</mapper>