<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wipo.connect.shared.persistence.mapping.TranslationFlatMapper">
	
	<resultMap id="resMap" type="Translation">
		<id 	property="idTranslation" 	column="TR_id_translation" />
		<result property="defaultValue" 	column="TR_default_value" />
	</resultMap>


	<insert id="insert" useGeneratedKeys="true" keyProperty="idTranslation"    keyColumn="id_translation">
		INSERT INTO 	translation
						(default_value)
		VALUES
						(#{defaultValue})
						
	</insert>

	<delete id="delete" >
		DELETE FROM 	translation
		WHERE 			id_translation = #{idTranslation}
	</delete>

	<update id="updateByPrimaryKey" keyProperty="idTranslation">
		UPDATE translation
	   	SET
	   		default_value = #{defaultValue}
	 	WHERE
			translation.id_translation = #{idTranslation}
	</update>

</mapper>