<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wipo.connect.shared.persistence.mapping.WorkIndexQueueMapper">
	<sql id="fields">
		id_work_index_queue AS WIQ_id,
		fk_work AS WIQ_fk_w ,
		action AS WIQ_action
	</sql>

	<resultMap id="resMap" type="WorkIndexQueue">
		<id property="idWorkIndexQueue" column="WIQ_id" />
		<result property="fkWork" column="WIQ_fk_w" />
		<result property="action" column="WIQ_action" />
	</resultMap>

	<sql id="baseSelect">
		SELECT
			<include refid="fields" />
		FROM work_index_queue
	</sql>

	<select id="selectByPrimaryKey" resultMap="resMap">
		<include refid="baseSelect"/>
		WHERE id_work_index_queue = #{idWIndexQueue}
	</select>

	<select id="findWorkByAction" resultType="java.lang.Long">
		SELECT distinct fk_work AS WIQ_fk_w
		FROM work_index_queue
		WHERE action = #{action}
	</select>

	<insert id="insert">
		INSERT INTO work_index_queue(fk_work, action)
		VALUES (#{fkWork}, #{action})
	</insert>

	<delete id="deleteByWork">
		DELETE FROM work_index_queue
		WHERE fk_work IN
		<foreach collection="idList" item="id" open="(" close=")" separator=",">
             #{id}
        </foreach>
	</delete>


</mapper>