<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                       	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<import resource="classpath*:spring/spring-exchange.xml" />
	<import resource="classpath:spring/spring-dao.xml" />
	<import resource="classpath:spring/spring-mybatis.xml" />

	<cache:annotation-driven cache-manager="ehCacheManager" />
	
	<bean id="jCacheManager" class="org.springframework.cache.jcache.JCacheManagerFactoryBean">
		<property name="cacheManagerUri" value="classpath:config/ehcache.xml"/>
	</bean>
	<bean id="ehCacheManager" class="org.springframework.cache.jcache.JCacheCacheManager">
		<property name="cacheManager" ref="jCacheManager" />
	</bean>

	<bean id="customKeyGenerator" class="org.wipo.connect.common.cache.CustomKeyGenerator"/>

</beans>