<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

 	<bean id="interestedPartyDAOImpl" class="org.wipo.connect.shared.persistence.dao.impl.InterestedPartyDAOImpl">
       <property name="identifierGenerator" ref="generator"/>
   	</bean>

   	<bean id="workIdentifierFlatDAOImpl" class="org.wipo.connect.shared.persistence.dao.impl.WorkIdentifierFlatDAOImpl">
       <property name="identifierGenerator" ref="generator"/>
   	</bean>
</beans>